/* 
    Created on : May 6, 2016, 4:56:09 PM
    Author     : niC00L
*/

body, html {
	margin: 0;
	padding: 0;
}

body {	
	display:flex;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
    justify-content: center;
	overflow: hidden;
	background-color: #dbdbdb;
}

body:after {
	content: '';
    position: absolute;
    top: -42vmin;
    left: 30vmin;
    z-index: -1;
    display: block;
    width: 80vmin;
    height: 200vmin;
    background-color: turquoise;
    transform: rotate(-45deg);
}

.top-panel {
	height: 20vh;
}

.top-panel h1 {
    margin: 0;
}

#game {
    text-align: center;    
}

#miby {
    height: 80vh;
}

#miby canvas {
	border-radius: 10px;
}

#debug {
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}